@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
    --font-railway: "Raleway", sans-serif;
    --font-roboto: "Roboto", sans-serif;
    --color-body: #1D293B;
    --color-nav: #0D1321;
    --color-weather: #324056;
    --color-border-selected: #BAC5D3;
    --color-bg-selected: #475569;
}